@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mallanna");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


/* Main Page */

.pageMain {
  padding: 70px 0px;
}

.home-image {
  margin: 50px auto 150px auto !important;
  height: 680px;
}

.home-image-left {
  text-align: center !important;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 86%;
}

.home-image-right {
  background-color: #334e5e;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}


.pageMain h1 {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.pageMain h2 {
  color: white;
  font-size: 48px;
  font-family: 'Lato', cursive;
  font-weight: 100;
  text-align: center;
  margin: auto !important;
}


/* Products Page */

.page-products {
  padding: 0;
}

.page-products h1 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 50px 15px 0;
}

.sidebar {
  width: 280px;
  max-width: 100%;
  margin: 6.4vh auto;
  background-color: white;
}

.ui.left.overlay.sidebar {
  overflow: hidden !important;
  width: 100%;
}

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  box-shadow: none !important;
}

.sidebar-pushable {
  overflow-y: hidden !important;
  height: calc(1324px - 70vw) !important;
}

.index-right {
  margin: auto;
}

.productList {
  padding: 32px 8px;
}

.productCard {
  border: none;
}

.productCard:hover {
  box-shadow: 0px 0px 16px #b0b0b0;
  transition: 0.25s;
}

.card-content {
  padding: 36px 16% 48px !important;
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-name {
  margin-top: 2px !important;
  font-size: 18px;
  font-weight: 400;
}

.card-desc {
  margin-top: 6px !important;
  font-size: 13px;
  font-weight: 400;
  min-height: 52px;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
}


@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.add-to-cart-hidden {
  visibility: hidden;
  opacity: 0;
  margin-top: 8px !important;
}

.add-to-cart {
  animation: fadeIn 0.25s both;
  margin-top: 8px !important;
}


/* Filters */

.filters-button {
  margin: 40px -20px 10px !important;
}

.filters-div {
  padding: 40px 0 !important;
  margin-bottom: 60px !important;
  border-bottom: 1px solid #dbdbdb;
}

.filters-row {
  max-width: 840px;
  margin: 0 15px !important;
  padding: 0 !important;
}

.filter {
  width: 260px;
  margin: auto;
  padding: 0;
}

.filter-div {
  margin-top: 20px;
  padding-right: 0 !important;
}

.filter-input {
  border-radius: 32px !important;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 6px 0 6px 12px;
  width: 100%;
}

.price-input {
  border-radius: 32px !important;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 6px 0 6px 12px;
  margin-right: 3%;
  width: 36%;
}


.MuiSelect-select:focus {
  background-color: inherit !important
}

.price-filter {
  padding: 0 12px 0 0;
  display: inline-block;
  border-radius: 12px !important;
  flex-wrap: wrap;
}

.price-filter-button {
  width: 20% !important;
  padding: 0 !important;
}


.ui.form .ui.form.input .ui.input .six.wide.field .ui.form .fields>.field:first-child {
  border-radius: 12px !important;
  background-color: grey !important;
}

.ui.form .fields>.field {
  padding-right: 0 !important;
}

.filter-header {
  margin-top: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif ;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.MuiFormLabel-root {
  vertical-align: top !important;
}



/* Login */

.pageSignIn {
  padding: 100px 0 !important;
  max-width: 800px;
}

.signInBox {
  margin: 20px auto;
  width: 400px;
}

.signInBox-loading {
  margin: 20px auto;
  width: 400px;
  opacity: 0.4;
}

.signInSelect {
  display: inline-block;
  padding: 0 40px 0 12px;
}

.signIn-field {
  border: 1px solid #d9d9d9;
  border-radius: 24px !important;
  padding: 10px calc(13px + 0.6%);
  background-color: white;
  margin: 24px auto;
  overflow: hidden;
}

.show-password {
  padding-left: 12px;
}

.ui.form .field>label {
  font-weight: 400 !important;
}

.login-button {
  margin-top:30px !important;
}

.ui.button:disabled {
  opacity: 0.75 !important;
}


/* Footer */

.footer {
  padding: 2em;
  margin-top: 60px;
  background-color: #ebebeb;
  color: rgba(0,0,0, 0.3);
  font-size: 12px;
  text-align: center;
  width: 100%;
}
