
.page-product {
  padding: 0 !important;
  max-width: 1400px;
}

.breadcrumb-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 0;
}

.breadcrumb {
  background-color: white !important;
}

.product-content {
  max-width: 1160px !important;
  margin: auto !important;
  margin-top: 30px !important;
}

.image-col {
  padding: 0 4%;
}

.product-image {
  margin: auto;
  margin-bottom: 40px;
}

.ui.large.image, .ui.large.images .image, .ui.large.images img, .ui.large.images svg {
  width: 380px;
  height: auto;
}

.product-section {
  margin-bottom: 22px;
  padding: 2px 0;
}

.product-section h2, h5 {
  margin: 4px 0 !important;
}

.product-section h4 {
  font-size: 16px;
  margin: 0 0 10px 0 !important;
}


.product-small {
  margin-bottom: 6px !important;
  font-size: 10px;
}

.article-number {
  margin-bottom: 6px !important;
  padding-left: 1px;
  font-size: 10px;
}

.productItem {
  padding: 30px;
}


.product-page-button {
  margin-top: 12px !important;
}
